<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="main :: head">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header th:insert="main :: navbar">
</header>

<div class="px-4 py-5 my-5 text-center">
  <h1 th:text="${title}" class="display-5 fw-bold">Ejemplo</h1>
  <table class="table table-dark table-hover">
    <theader>
      <th>Id</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Nit</th>
      <th>Eliminar</th>

    </theader>
    <tbody>
    <tr th:each="enterprise : ${getEnterprises}">
      <td th:text="${enterprise.id}"></td>
      <td th:text="${enterprise.name}"></td>
      <td th:text="${enterprise.address}"></td>
      <td th:text="${enterprise.phone}"></td>
      <td th:text="${enterprise.nit}"></td>
      <td>
        <form th:action="@{/enterprises/{id}(id=${enterprise.id})}" th:method="delete">
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a class="btn btn-secondary" th:href="@{/home/{id}(id=${enterprise.id})}">Editar </a>
          <a class="btn btn-info" th:href="@{/home/getTransactionsEnterprise/{id}(id=${enterprise.id})}">Ver Movimientos </a>
        </form>
      </td>

    </tr>

    </tbody>
  </table>
  <div>
    <a class="btn btn-dark"  href="/home/newEnterprise">Crear Nueva Empresa</a>
  </div>
</div>










<div th:replace="main :: footer"></div>
</body>
</html>