<!DOCTYPE html>
<html lang="es">
<head th:replace="main :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<header th:insert="main :: navbar">

</header>
<div class="px-4 py-5 my-5 text-center">
    <h1  class="display-5 fw-bold" >Bienvenido a la Distribuidora de Alimentos: </h1>
    <h1  class="display-5 fw-bold" >TSUNAMIT DEVELOPERS </h1>
    <br>
    <img src="images/logo.jpg" height="250">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">En esta pagina podrás encontrar información acerca de las empresas que nos
        distribuyen todos los alimentos.</p>
        

    </div>

</div>

<div th:replace="main :: footer"></div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>