<!DOCTYPE html>
<html lang="en">
<head th:replace="main :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="main :: navbar">
</header>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 th:text="${title}">xdxdxdxd</h1>
        </div>
        <div class="card-body">
            <form class="row g-3" th:action="@{/employee}" th:method="post" th:object="${employee}">

                <div class="col-12 col-sm-6">
                    <label for="name" class="form-label">Nombre del Empleado</label>
                    <input type="text" id="name" class="form-control" th:field="*{name}">
                </div>

                <div class="col-12 col-sm-6">
                    <label for="email" class="form-label">Correo</label>
                    <input type="text" id="email" class="form-control" th:field="*{email}">
                </div>

                <div class="col-12 col-sm-6">
                    <label for="phone" class="form-label">Teléfono</label>
                    <input type="text" id="phone" class="form-control" th:field="*{phone}">
                </div>

                <div class="col-12 col-sm-6">
                    <label  class="form-label">Tipo de Rol</label>
                    <select  class="form-select" th:field="*{typeRol}">
                        <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                        <option value="OPERATIVO">OPERATIVO</option>
                    </select>
                </div>

                <div class="col-12 col-sm-6">
                    <label for="typeEnterprise" class="form-label">Tipo de Empresa</label>
                    <select id="typeEnterprise" class="form-select" th:field="*{enterprise}">
                        <option th:each="enterprise : ${getEnterprises}" th:value="${enterprise.id}" th:text="${enterprise.name}"></option>
                    </select>
                </div>


                <div class="col-12">
                    <button class="btn btn-dark" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<span th:replace="main :: footer"></span>
</body>
</html>