<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="main :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="main :: navbar">
</header>

<div class="px-4 py-5 my-5 text-center">
    <h1 th:text="${title}" class="display-5 fw-bold">Ejemplo</h1>
    <table class="table table-dark table-hover">
        <theader>
            <th>Id</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Tipo de rol</th>
            <th>Empresa</th>
            <th>Gestión</th>
        </theader>
        <tbody>
        <tr th:each="employee : ${getEmployees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phone}"></td>
            <td th:text="${employee.typeRol}"></td>
            <td th:text="${employee.enterprise.name}"></td>
            <td>
                <form th:action="@{/employee/{id}(id=${employee.id})}" th:method="delete">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a class="btn btn-secondary" th:href="@{/home/employee/{id}(id=${employee.id})}">Editar </a>
                </form>

            </td>

        </tr>

        </tbody>
    </table>
    <div>
        <a class="btn btn-dark"  href="/home/newEmployee">Crear Nuevo Empleado</a>
    </div>
</div>










<div th:replace="main :: footer"></div>
</body>
</html>